/* ----------------------------------------------------------------
	Canvas: Therapy
-----------------------------------------------------------------*/

:root {
	--bgcolor: #2E364F;
	--themecolor: #F1C77A;
	--bgcolorrgba: 58,133,144;
	--themecolorrgba: 241,199,122;
	--font-family: 'Prata', Serif;
	--font-family-body: 'Roboto', sans-serif;
	--border-opacity: .15;
	--body-image: url('images/blur-svg/blur-bg.png');
}

body {
	background-color: var(--bgcolor, #2E364F);
	background-image: var(--body-image, url('images/blur-svg/blur-bg.png'));
    background-repeat: repeat-y;
    background-position: center top;
    background-size: 100% auto;
	overflow-x: hidden;
	-webkit-backface-visibility: hidden;
}

.border-light,
.line { border-color: rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15)) !important; }

.bg-color,
.page-transition-wrap, .css3-spinner { background-color: var(--bgcolor, #2E364F) !important; }

.css3-spinner > div {  background-color: var(--themecolor, #F1C77A) !important; }

.dark body,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark #copyrights,
#copyrights.dark,
.dark .copyright-links a { color: var(--themecolor, #F1C77A); }

#wrapper,
#content {
	background-color: transparent;
}

.dark #header-wrap {
	background-color: var(--bgcolor, #2E364F);
    border-bottom-color: rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
}

.menu-link {
	text-transform: none;
	font-weight: 400;
	font-size: 16px;
}

@media (max-width: 991.98px) {
	.menu-item:hover .menu-link::after,
	.menu-item.current .menu-link::after {
		content: none;
	}
}

@media (min-width: 991px) and (max-width: 1200px) {
	.menu-link {
		font-size: 14px;
	}
}

.btn-border {
	--btn-y-padding: 10px;
	--btn-x-padding: 17px;
	padding: 0;
	display: inline-flex;
	align-items: center;
	font-family: var(--font-family, 'Prata', Serif );
	border: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
	overflow: hidden;
	letter-spacing: 1px;
	font-size: 14px;
}

.btn-border.size-lg {
	--btn-y-padding: 15px;
	--btn-x-padding: 20px;
}

.btn-border.size-sm {
	--btn-y-padding: 7px;
	--btn-x-padding: 13px;
}

.btn-border i {
	font-size: 18px;
	padding: var(--btn-y-padding, 10px) var(--btn-x-padding, 17px);
	border-right: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
}

.btn-border span {
	position: relative;
	padding: calc(var(--btn-y-padding, 10px) + 5px) var(--btn-x-padding, 17px);
}

.menu-link::after,
.menu-link .menu-link::after,
.btn-border span::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 3px;
	background-color: var(--themecolor, #F1C77A);
	transition: width .5s cubic-bezier(.645, .045, .355, 1);
}

.btn-border span::before {
	height: 100%;
	background-color: rgba(var(--themecolorrgba, 241,199,122), 0.075);
}

.menu-item:hover .menu-link::after,
.menu-item.current .menu-link::after,
.btn-border:hover span::before {
	width: 100%;
}


.box-img::before {
	content: "";
	position: absolute;
	right: -5px;
	top: -5px;
	width: calc(100% - 30px);
	height: calc(100% - 30px);
	z-index: -1;
	background-color: rgba(var(--themecolorrgba, 241,199,122), 0.1);
	border: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
	border-radius: 0.25rem;
}

blockquote {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.8;
}

/* ----------------------------------------------------------------------------
	Counter Grid
---------------------------------------------------------------------------- */

.counter-wrap [class^=col-]:not(:first-child):before{
	content: '';
	position: absolute;
}

.counter-wrap [class^=col-]:before {
	height: 100%;
	top: 0;
	left: -25%;
	border-left: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
}


/* ----------------------------------------------------------------------------
	Services Grid
---------------------------------------------------------------------------- */

.grid-border {
	overflow: hidden;
	border: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
}

.grid-border [class^=col-]:before,
.grid-border [class^=col-]:after {
	content: '';
	position: absolute;
}

.grid-border [class^=col-]:before {
	height: 100%;
	top: 0;
	left: -1px;
	border-left: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
}

.grid-border [class^=col-]:after {
	width: 100%;
	height: 0;
	top: auto;
	left: 0;
	bottom: -1px;
	border-bottom: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
}


.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


.testi-image,
.testi-image a,
.testi-image img,
.testi-image i {
	width: 80px;
	height: 80px;
}

.testi-content {
	margin-top: 20px;
}

.testi-content p {
	font-style: normal;
	font-size: 1.15rem;
	font-weight: 300;
}

.testi-meta {
	margin-top: 25px;
    font-size: 22px;
    text-transform: none;
    color: var(--themecolor, #F1C77A);
    font-family: var(--font-family, 'Prata', Serif);
}
.testi-meta::before { display: none; }
.testi-meta span {
	font-family: var(--font-family-body, 'Roboto', Serif);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px;
}

.owl-carousel .owl-nav [class*=owl-] {
	opacity: 1 !important;
	background-color: var(--bgcolor, #2E364F);
	border-color: rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
	color: var(--themecolor, #F1C77A);
	width: 40px;
	height: 40px;
	margin: 0px;
	font-size: 24px;
	top: auto;
	bottom: -20px;
}

.owl-carousel .owl-nav .owl-next {
	left: calc(50% + 3px) !important;
}
.owl-carousel .owl-nav .owl-prev {
	left: auto !important;
	right: calc(50% + 3px) !important;
}

#oc-testi .owl-item {
	border-right: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
}

.owl-prev i {
	position: relative;
	left: -1px;
}

#oc-testi .owl-item img,
#oc-testi .owl-item p,
#oc-testi .owl-item .testi-meta {
	opacity: 0;
}

#oc-testi .owl-item.active img,
#oc-testi .owl-item.active p,
#oc-testi .owl-item.active .testi-meta {
	opacity: 1;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-name: fade-in-bottom;
	animation-name: fade-in-bottom;
	animation-iteration-count: 1;

}
#oc-testi .owl-item.active p {
	-webkit-animation-delay: .1s;
	animation-delay: .1s;
}
#oc-testi .owl-item.active .testi-meta {
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
}

.dark #copyrights p,
.dark .copyright-links a {
	font-weight: 400;
	opacity: .4;
}

@media (min-width: 992px) {

	.transparent-header.floating-header .container,
	.transparent-header.floating-header .container {
		background-color: transparent !important;
		border: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
	}

	.transparent-header.floating-header.sticky-header .container,
	.transparent-header.floating-header.sticky-header .container {
		background-color: rgba(255,255,255, 0.05) !important;
		backdrop-filter: blur(15px);
		-webkit-backdrop-filter: blur(15px);
	}

	#header-wrap {
		background-color: transparent !important;
		box-shadow: none !important;
		top: 0;
		transition: top .4s ease;
		will-change: inherit;
	}

	.sticky-header #header-wrap { top: 30px }

	#header .menu-link {
		padding-top: 50px !important;
	    padding-bottom: 30px !important;
	    padding-left: 20px;
	    padding-right: 20px;
	}

	.menu-container > li {
		counter-increment: step-counter;
	}

	.menu-container > li::before {
		content: "0" counter(step-counter)'.';
	    position: absolute;
	    left: 0;
	    top: 50%;
	    font-size: 10px;
	    line-height: 18px;
	    color: rgba(255,255,255,0.4);
	    transform: translateY(-50%);
	    margin-top: -11px;
	    padding: 0 20px;
	    z-index: -1;
	    font-weight: 400;
	    font-family: var(--font-family, 'Prata', Serif );
	}

	.header-misc a {
		padding: 39px 27px;
		border-left: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
		background-color:  var(--themecolor, #F1C77A);
		color: var(--bgcolor, #2E364F) !important;
	}

	#logo {
		border-right: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
	}
}

#toast-container > div {
	border-radius: 4px;
	font-size: .925rem;
	opacity: .95;
	border: 0;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.toast-success {
	background-color: var(--themecolor, #F1C77A) !important;
	color: var(--bgcolor, #2E364F) !important;
}

.toast-message strong {
	text-decoration: underline;
	text-transform: capitalize;
}